<h1>Welcome to: Rock-Paper-Scissors</h1>
<h2>The Rules</h2>
<p>This is a game for two players - in this case you will be playing against the computer.</p>
<ul>
  <li>Choose your weapon from 'rock', 'paper', or 'scissors', and type this after play/ above.</li>
  <li>The computer will choose one at random in response.</li>
  <li> Results:
    <ol>
      <li>Rock beats Scissors</li>
      <li>Paper beats Rock</li>
      <li>Scissors beats Paper</li>
      <li>Two matching is a Draw</li>
    </ol>
    </li>
</ul>
